<section class="content-header">
    <h1>
        {% block pageHeader %}{% endblock %}
    </h1>

</section>

<!-- Main content -->
<section class="content">
    {% block content %}{% endblock %}
</section><!-- /.content -->