<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title ng-bind="pageTitle"></title>
    {% if app.environment == 'dev' %}
        <base href="/app_dev.php/">
    {% else %}
        <base href="/">
    {% endif %}
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style.min.css') }}" rel="stylesheet" type="text/css" />
</head>
<body  class="skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="{{ path('index') }}" class="logo">
            <span class="logo-lg"><b>Simple</b>CRM</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu" dropdown>
                        <a href="#" class="dropdown-toggle" dropdown-toggle>
                            <span class="hidden-xs">
                                {{ app.user }}
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Профиль</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" no-route>Выйти</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" ng-controller="SidebarController">
                <li class="header">

                </li>
                <li>
                    <a href="{{ path('index') }}" active-link="active">
                        <i class='fa fa-dashboard'></i> <span>Главная</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('projects') }}" active-link="active">
                        <i class='fa fa-link'></i> <span>Проекты</span>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="#" active-link="active">
                            <i class='fa fa-bar-chart'></i> <span>Финансы</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_contacts') }}" active-link="active">
                            <i class='fa fa-fax'></i> <span>Контакты</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_users') }}" active-link="active">
                            <i class='fa fa-users'></i> <span>Пользователи</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="#" active-link="active">
                        <i class='fa fa-file-pdf-o'></i> <span>Статьи</span>
                    </a>
                </li>

            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <div  ng-view></div>
    </div>


    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2015 Prod by <a href="http://gazlmedia.com" target="_blank">GazlMedia</a>.</strong> All rights reserved.
    </footer>


</div><!-- ./wrapper -->
<script>
    {% if app.environment == 'dev' %}
        window.base = '/app_dev.php/';
    {% else %}
        window.base = '/';
    {% endif %}
</script>
<script src="{{ asset('app-js/angular.min.js') }}"></script>
<script src="{{ asset('app-js/angular-route.min.js') }}"></script>
<script src="{{ asset('js/ui-bootstrap-0.13.0.js') }}"></script>
<script src="{{ asset('app-js/app.js') }}"></script>
<script src="{{ asset('app-js/controllers/sidebar.js') }}"></script>
<script src="{{ asset('app-js/controllers/main.js') }}"></script>
<script src="{{ asset('app-js/directive/sidebaractive.js') }}"></script>
<script src="{{ asset('app-js/directive/forminitial.js') }}"></script>
<script src="{{ asset('app-js/controllers/user.js') }}"></script>
<script src="{{ asset('app-js/controllers/contact.js') }}"></script>
<script src="{{ asset('app-js/controllers/project.js') }}"></script>


</body>
</html>
