{% extends 'ajax_layout.html.twig' %}

{% block pageHeader %}Контакты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box" ng-controller="ContactController">

                <div class="box-header with-border">
                    <a href="{{ path('admin_contact_add') }}" class="btn btn-default">Добавить</a>
                </div>

                <table class="table">
                    <tr>

                        <th>Имя</th>
                        <th>Email</th>
                        <th>Телефоны</th>
                        <th></th>
                    </tr>
                    {% for contact in contacts %}
                        <tr>
                            
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phones }}</td>
                            <td>
                                <a href="{{ path('admin_contact_edit', {id:contact.id}) }}" class="btn btn-success">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ path('admin_contact_show', {id:contact.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn btn-danger" ng-click="remove({{ contact.id }})">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
    </div>

{% endblock %}
