{% extends 'ajax_layout.html.twig' %}

{% block pageHeader %}{{ contact.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title with-border">Информация о контакте</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>Email</td>
                        <td>{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <td>Телефоны</td>
                        <td>{{ contact.phones }}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ contact.description }}</td>
                    </tr>

                </table>
            </div>
        </div>



    </div>

{% endblock %}
