{% extends 'ajax_layout.html.twig' %}

{% trans_default_domain "app" %}

{% block pageHeader %}Проекты{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box" ng-controller="ProgressController">

                <div class="box-header with-border">
                    <a href="{{ path('admin_project_add') }}" class="btn btn-default">Добавить</a>
                </div>

                <table class="table">
                    <tr>

                        <th>Название</th>
                        <th>Руководитель</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.title }}</td>
                            <td>
                                {% if project.lead %}
                                    <a href="{{ path('user_show', {id:project.lead.id}) }}">{{ project.lead }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if project.client %}
                                    <a href="{{ path('user_show', {id:project.client.id}) }}">{{ project.client }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% set status = project.status %}
                                <span class="label
                                    {% if status == 0 %}label-primary
                                    {% elseif  status == 1%}label-success
                                    {% else %}label-danger{% endif %}">
                                    {{ ('project.status_'~project.status)|trans }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ path('project_show', {id:project.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('project_show', {id:project.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-usd"></i>
                                    </a>
                                    <a href="{{ path('admin_project_edit', {id:project.id}) }}" class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger" ng-click="remove({{ project.id }})">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
    </div>
{% endblock %}
