{% extends 'ajax_layout.html.twig' %}

{% block pageHeader %}{{ project.title }}{% endblock %}

{% block content %}
    <div class="row" ng-controller="ProjectController">
        <div class="col-md-6">
            <tabset type="tabs">
                <tab heading="Описание">
                    {{ project.description }}
                </tab>
                <tab heading="Данные доступов">
                    {{ project.accessInfo }}
                </tab>
            </tabset>
        </div>

        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Активные задачи</h3>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">История действий</h3>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Счета и оплаты</h3>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>




    </div>



{% endblock %}
