{% extends 'ajax_layout.html.twig' %}

{% form_theme form 'common/form/form_theme.html.twig' %}

{% block pageHeader %}Редактирование контакта{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Отредактируйте данные пользователя</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12" ng-controller="UserController">
                        <form method="post" ng-submit="submit(user)">
                            {{ form_errors(form) }}
                            {{ form_rest(form) }}
                            <div class="form-group">
                                <input type="submit" value="Сохранить" class="form-control btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
