{% extends 'ajax_layout.html.twig' %}

{% block pageHeader %}Пользователи{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box" ng-controller="UserController">

                <div class="box-header with-border">
                    <a href="{{ path('admin_user_add') }}" class="btn btn-default">Добавить</a>
                </div>

                <table class="table">
                    <tr>

                        <th>Имя</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    {% for user in users %}
                        <tr>

                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('admin_user_edit', {id:user.id}) }}" class="btn btn-success">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% if user.id != 1 %}
                                    <a href="{{ path('user_show', {id:user.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}
                                <a href="#" class="btn btn-danger" ng-click="remove({{ user.id }})">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
    </div>

{% endblock %}
