{% extends 'ajax_layout.html.twig' %}

{% block pageHeader %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title with-border">Информация о пользователе</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </table>
                </div>

            {% if user.contact %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title with-border">Контактная информация</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Имя</td>
                            <td>{{ user.contact.name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.contact.email }}</td>
                        </tr>
                        <tr>
                            <td>Телефоны</td>
                            <td>{{ user.contact.phones }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ user.contact.description }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title with-border">Текущие задачи</h3>
                </div>
                <div class="box-body">
                    {% if tasks %}

                    {% else %}
                        <div class="alert alert-info">
                            <h4><i class="icon fa fa-info"></i> Нет текущих задач.</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title with-border">Проекты</h3>
                </div>
                <div class="box-body">
                    {% if projects %}

                    {% else %}
                        <div class="alert alert-info">
                            <h4><i class="icon fa fa-info"></i> Нет текущих проектов.</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
